version: 2.1

parameters:
  ci_builder_image:
    type: string
    # depends with rvsol/lib/optimism submodule version
    default: us-docker.pkg.dev/oplabs-tools-artifacts/images/ci-builder:v0.47.3

workflows:
  main:
    jobs:
      - pnpm-monorepo
      - go-mod-download-monorepo
      - go-mod-download-asterisc
      - op-program-riscv:
          requires: ["go-mod-download-monorepo"]
      - asterisc-prestate:
          requires: ["go-mod-download-asterisc", "op-program-riscv", "pnpm-monorepo"]
      - devnet-allocs-including-asterisc:
          requires: ["asterisc-prestate"]

jobs:
  pnpm-monorepo:
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    resource_class: xlarge
    steps:
      - checkout
      - run:
          name: Fetch submodules for asterisc
          # This will also fetch monorepo's submodule.
          # Therefore we do not have to call `make submodules` at monorepo root
          command: git submodule update --init --recursive
      - run:
          name: Check L1 geth version
          command: ./ops/scripts/geth-version-checker.sh || (echo "geth version is wrong, update ci-builder"; false)
          working_directory: rvsol/lib/optimism
      - restore_cache:
          name: Restore PNPM Package Cache
          keys:
            - pnpm-packages-v2-{{ checksum "rvsol/lib/optimism/pnpm-lock.yaml" }}
      - restore_cache:
          name: Restore Go modules cache for monorepo
          # this go mod cache will be populated from go-mod-download-monorepo step
          key: gomod-{{ checksum "rvsol/lib/optimism/go.sum" }}
      # Fetch node_modules into the pnpm store
      # This will cache node_modules based on pnpm-lock so other steps can instantly install them with `pnpm install --prefer-offline`
      # --prefer-offline installs node_modules instantly by just reading from cache if it exists rather than fetching from network
      # when installing node_modules pnpm simply adds symlinks instead of copying the files which is why it is pretty much instant to run --prefer-offline
      # this allows a caching strategy of only checking pnpm-lockfile so we don't have to keep it in sync with our packages
      # For more information see https://pnpm.io/cli/fetch
      - run:
          name: Fetch dependencies
          command: pnpm fetch --frozen-lockfile --prefer-offline
          working_directory: rvsol/lib/optimism
      - save_cache:
          name: Save PNPM Package Cache
          key: pnpm-packages-v2-{{ checksum "rvsol/lib/optimism/pnpm-lock.yaml" }}
          paths:
            - "rvsol/lib/optimism/node_modules"
      - run:
          name: Install dependencies
          command: pnpm install:ci:offline
          working_directory: rvsol/lib/optimism
      - run:
          name: print forge version
          command: forge --version
          working_directory: rvsol/lib/optimism
      - run:
          name: Build monorepo
          environment:
            FOUNDRY_PROFILE: ci
          command: pnpm build
          working_directory: rvsol/lib/optimism
      - run:
          name: Generate allocs
          command: make devnet-allocs
          working_directory: rvsol/lib/optimism
      - persist_to_workspace:
          root: rvsol/lib/optimism
          paths:
            - "packages/**/dist"
            - "packages/contracts-bedrock/cache"
            - "packages/contracts-bedrock/artifacts"
            - "packages/contracts-bedrock/forge-artifacts"
            - "packages/contracts-bedrock/tsconfig.tsbuildinfo"
            - "packages/contracts-bedrock/tsconfig.build.tsbuildinfo"
            - ".devnet/allocs-l1.json"
            - ".devnet/allocs-l2.json"
            - ".devnet/allocs-l2-delta.json"      
            - ".devnet/addresses.json"
            - "packages/contracts-bedrock/deploy-config/devnetL1.json"
            - "packages/contracts-bedrock/deployments/devnetL1"

  go-mod-download-monorepo:
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    parameters:
      file:
        default: rvsol/lib/optimism/go.sum
        description: The file name of checksum for restore_cache and save_cache.
        type: string
      key:
        default: gomod
        description: The key of restore_cache and save_cache.
        type: string
    steps:
      - checkout
      - run:
          name: Fetch submodules for asterisc
          command: git submodule update --init --recursive
      - restore_cache:
          key: << parameters.key >>-{{ checksum "<< parameters.file >>" }}
          name: Restore Go modules cache
      - run:
          name: Sanity check go mod cache path
          command: test "$(go env GOMODCACHE)" == "/go/pkg/mod" # yes, it's an odd path
          working_directory: rvsol/lib/optimism
      - run:
          command: go mod download
          name: Download Go module dependencies
          working_directory: rvsol/lib/optimism
      - run:
          name: Go mod tidy
          command: make mod-tidy && git diff --exit-code
          working_directory: rvsol/lib/optimism
      - run:
          name: run Go linter
          command: |
            # Identify how many cores it defaults to
            golangci-lint --help | grep concurrency
            make lint-go
          working_directory: rvsol/lib/optimism
      - save_cache:
          key: << parameters.key >>-{{ checksum "<< parameters.file >>" }}
          name: Save Go modules cache
          paths:
            - "/go/pkg/mod"

  go-mod-download-asterisc:
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    parameters:
      file:
        default: go.sum
        description: The file name of checksum for restore_cache and save_cache.
        type: string
      key:
        default: gomod
        description: The key of restore_cache and save_cache.
        type: string
    steps:
      - checkout
      - restore_cache:
          key: << parameters.key >>-{{ checksum "<< parameters.file >>" }}
          name: Restore Go modules cache
      - run:
          name: Sanity check go mod cache path
          command: test "$(go env GOMODCACHE)" == "/go/pkg/mod" # yes, it's an odd path
      - run:
          command: go mod download
          name: Download Go module dependencies
      - save_cache:
          key: << parameters.key >>-{{ checksum "<< parameters.file >>" }}
          name: Save Go modules cache
          paths:
            - "/go/pkg/mod"

  op-program-riscv:
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    parameters:
      file:
        default: rvsol/lib/optimism/go.sum
        description: The file name of checksum for restore_cache and save_cache.
        type: string
      key:
        default: gomod
        description: The key of restore_cache and save_cache.
        type: string
    steps:
      - checkout
      - run:
          name: Fetch submodules for asterisc
          command: git submodule update --init --recursive
      - restore_cache:
          key: << parameters.key >>-{{ checksum "<< parameters.file >>" }}
          name: Restore Go modules cache
      - run:
          name: Build op-program-client-riscv
          command: make op-program-client-riscv
          working_directory: rvsol/lib/optimism/op-program
      - run:
          name: Copy op-program-client-riscv to op-program-artifacts
          command: cp -r bin op-program-artifacts
          working_directory: rvsol/lib/optimism/op-program
      - persist_to_workspace:
          root: rvsol/lib/optimism/op-program
          paths:
            - "op-program-artifacts"

  asterisc-prestate:
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    parameters:
      file:
        default: go.sum
        description: The file name of checksum for restore_cache and save_cache.
        type: string
      key:
        default: gomod
        description: The key of restore_cache and save_cache.
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - restore_cache:
          key: << parameters.key >>-{{ checksum "<< parameters.file >>" }}
          name: Restore Go modules cache
      - run:
          name: Load op-program-client-riscv
          command: |
            cp /tmp/workspace/op-program-artifacts/op-program-client-riscv.elf op-program-client-riscv.elf
      - run:
          name: Build Asterisc binary and contract
          command: make build
      - run:
          name: Generate asterisc prestate
          command: OP_PROGRAM_PATH=./op-program-client-riscv.elf make prestate
      - run:
          name: Copy asterisc artifacts to asterisc-artifacts
          command: cp -r rvgo/bin asterisc-artifacts
      - persist_to_workspace:
          root: .
          paths: 
            - "asterisc-artifacts"

  devnet-allocs-including-asterisc:
    docker:
      - image: <<pipeline.parameters.ci_builder_image>>
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Fetch submodules for asterisc
          command: git submodule update --init --recursive
      - run:
          name: Forge build
          # We first build here to avoid `failed to read artifact source file` foundry error while running forge script
          # issue: https://github.com/foundry-rs/foundry/issues/6572
          command: forge build
          working_directory: rvsol
      - run:
          name: Load asterisc absolute prestate
          command: cp /tmp/workspace/asterisc-artifacts/prestate-proof.json ./prestate-proof.json
          working_directory: rvsol
      - run:
          name: Load devnet-allocs
          command: |
            mkdir -p .devnet
            cp /tmp/workspace/.devnet/allocs-l1.json .devnet/allocs-l1.json
            cp /tmp/workspace/.devnet/allocs-l2.json .devnet/allocs-l2.json
            cp /tmp/workspace/.devnet/allocs-l2-delta.json .devnet/allocs-l2-delta.json
            cp /tmp/workspace/.devnet/addresses.json .devnet/addresses.json
            cp /tmp/workspace/packages/contracts-bedrock/deploy-config/devnetL1.json devnetL1.json
            cp -r /tmp/workspace/packages/contracts-bedrock/deployments/devnetL1 devnetL1
          working_directory: rvsol
      - run:
          name: Patch L1 Allocs
          # allocs-l1.json has the form as # we need json as the form {"accounts": ... }
          # We need value of "accounts" key for foundry loadAlloc method
          command: jq .accounts .devnet/allocs-l1.json > allocs-l1-patched.json
          working_directory: rvsol
      - run:
          name: Generate allocs including asterisc
          command: >
            ASTERISC_PRESTATE=./prestate-proof.json
            TARGET_L2_DEPLOYMENT_FILE=./devnetL1/.deploy
            TARGET_L2_DEPLOY_CONFIG=./devnetL1.json
            TARGET_L1_ALLOC=./allocs-l1-patched.json
            DEPLOYMENT_OUTFILE=./deployments/devnetL1/.deploy
            STATE_DUMP_PATH=./allocs-l1-asterisc.json
            ./scripts/create_poststate_after_deployment.sh
          working_directory: rvsol
      - run:
          name: Create address json
          command: |
            mkdir -p .devnet-asterisc
            jq -s '.[0] * .[1]' ./deployments/devnetL1/.deploy ./devnetL1/.deploy | tee .devnet-asterisc/address.json
          working_directory: rvsol
      - run:
          name: Patch L1 Allocs
          # we need json as the form {"accounts": ... } for op-e2e
          command: |
            jq '{accounts: .}' ./allocs-l1-asterisc.json > .devnet-asterisc/allocs-l1.json
          working_directory: rvsol
      - run:
          name: Patch .deploy
          command: |
            mkdir -p packages/contracts-bedrock/deployments/devnetL1
            cp .devnet-asterisc/address.json packages/contracts-bedrock/deployments/devnetL1/.deploy
          working_directory: rvsol
      - run:
          name: Sanity Check
          command: |
            ASTERISC_ADDR=$(jq '.RISCV' .devnet-asterisc/address.json | tr '[:upper:]' '[:lower:]')
            ASTERISC_ADDR=$(echo ${ASTERISC_ADDR//\"/})
            echo $ASTERISC_ADDR
            jq --arg key $ASTERISC_ADDR '.[$key]' ./allocs-l1-asterisc.json
          working_directory: rvsol
      - run:
          name: Copy L2 Allocs
          command: |
            cp .devnet/allocs-l2.json .devnet-asterisc/allocs-l2.json 
            cp .devnet/allocs-l2-delta.json .devnet-asterisc/allocs-l2-delta.json 
          working_directory: rvsol
      - persist_to_workspace:
          root: rvsol
          paths:
            - ".devnet-asterisc"
            - "packages/contracts-bedrock/deployments/devnetL1"
            # we do not patch devnetL1.json because it did not change
